/svf-test/target/
/svf-core/target/
/svf/target/
/svf-awt/target/
/svf-jbox2d/target/
/svf-fx/target/
/svf-newt/target/
/svf-swt/target/
/svf-demo/target/
/svf/performance.properties
/svf-core/performance.properties
/sci-vis-framework/nbactions.xml

.project
.classpath
.settings/
/svf-core/nbproject/
/svf/nbproject/